<!DOCTYPE html>
<html>
<head>
	<title>Geotime</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="geotime">
		<ul class="time-scale">
			<li>present</li>
			<li>1 Ga.</li>
			<li>2 Ga.</li>
			<li>3 Ga.</li>
			<li>4 Ga.</li>
		</ul>
		<ul class="geotime first">
			<li class="header">
				<h6>Eon</h6>
				<ul>
					<li>
						<h6>Era</h6>
						<ul>
							<li>
								<h6>Period</h6>
								<ul>
									<li>
										<h6>Epoch</h6>
										<ul>
											<li>
												<h6>Age</h6>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="eon phanerozoic">
				<h1>Phanerozoic</h1>
				<ul>
					<li class="era cenozoic">
						<h2>Cenozoic</h2>
						<ul>
							<li class="period quaternary">
								<h3>quaternary</h3>
								<ul>
									<li class="epoch holocene">
										<h4>holocene</h4>
										<ul>
											<li class="age meghalayan">
												<h5>meghalayan</h5>
											</li>
											<li class="age northgrippian">
												<h5>northgrippian</h5>
											</li>
											<li class="age greenlandian">
												<h5>greenlandian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch pleistocene">
										<h4>pleistocene</h4>
										<ul>
											<li class="age pleistocene-upper">
												<h5>pleistocene-upper</h5>
											</li>
											<li class="age pleistocene-middle">
												<h5>pleistocene-middle</h5>
											</li>
											<li class="age calabrian">
												<h5>calabrian</h5>
											</li>
											<li class="age gelasian">
												<h5>gelasian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period neogene">
								<h3>neogene</h3>
								<ul>
									<li class="epoch pliocene">
										<h4>pliocene</h4>
										<ul>
											<li class="age piacenzian">
												<h5>piacenzian</h5>
											</li>
											<li class="age zanclean">
												<h5>zanclean</h5>
											</li>
										</ul>
									</li>
									<li class="epoch miocene">
										<h4>miocene</h4>
										<ul>
											<li class="age messinian">
												<h5>messinian</h5>
											</li>
											<li class="age toronian">
												<h5>toronian</h5>
											</li>
											<li class="age serravalian">
												<h5>serravalian</h5>
											</li>
											<li class="age langhian">
												<h5>langhian</h5>
											</li>
											<li class="age burdigalian">
												<h5>burdigalian</h5>
											</li>
											<li class="age aquitanian">
												<h5>aquitanian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period paleogene">
								<h3>paleogene</h3>
								<ul>
									<li class="epoch oligocene">
										<h4>oligocene</h4>
										<ul>
											<li class="age chattian">
												<h5>chattian</h5>
											</li>
											<li class="age rupelian">
												<h5>rupelian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch eocene">
										<h4>eocene</h4>
										<ul>
											<li class="age priabonian">
												<h5>priabonian</h5>
											</li>
											<li class="age bartonian">
												<h5>bartonian</h5>
											</li>
											<li class="age lutetian">
												<h5>lutetian</h5>
											</li>
											<li class="age ypresian">
												<h5>ypresian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch paleocene">
										<h4>paleocene</h4>
										<ul>
											<li class="age thanetian">
												<h5>thanetian</h5>
											</li>
											<li class="age selandian">
												<h5>selandian</h5>
											</li>
											<li class="age danian">
												<h5>danian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="era mesozoic">
						<h2>mesozoic</h2>
						<ul>
							<li class="period cretaceous">
								<h3>cretaceous</h3>
								<ul>
									<li class="epoch cretaceous-upper">
										<h4>cretaceous-upper</h4>
										<ul>
											<li class="age maastrichtian">
												<h5>maastrichtian</h5>
											</li>
											<li class="age campanian">
												<h5>campanian</h5>
											</li>
											<li class="age santonian">
												<h5>santonian</h5>
											</li>
											<li class="age coniacian">
												<h5>coniacian</h5>
											</li>
											<li class="age turonian">
												<h5>turonian</h5>
											</li>
											<li class="age cenomanian">
												<h5>cenomanian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch cretaceous-lower">
										<h4>cretaceous-lower</h4>
										<ul>
											<li class="age albian">
												<h5>albian</h5>
											</li>
											<li class="age aptian">
												<h5>aptian</h5>
											</li>
											<li class="age barremian">
												<h5>barremian</h5>
											</li>
											<li class="age hauterivian">
												<h5>hauterivian</h5>
											</li>
											<li class="age valanginian">
												<h5>valanginian</h5>
											</li>
											<li class="age berriasian">
												<h5>berriasian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period jurassic">
								<h3>jurassic</h3>
								<ul>
									<li class="epoch jurassic-upper">
										<h4>jurassic-upper</h4>
										<ul>
											<li class="age tithonian">
												<h5>tithonian</h5>
											</li>
											<li class="age kimmeridgian">
												<h5>kimmeridgian</h5>
											</li>
											<li class="age oxfordian">
												<h5>oxfordian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch jurassic-middle">
										<h4>jurassic-middle</h4>
										<ul>
											<li class="age callovian">
												<h5>callovian</h5>
											</li>
											<li class="age bathonian">
												<h5>bathonian</h5>
											</li>
											<li class="age bajocian">
												<h5>bajocian</h5>
											</li>
											<li class="age aalenian">
												<h5>aalenian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch jurassic-lower">
										<h4>jurassic-lower</h4>
										<ul>
											<li class="age toarcian">
												<h5>toarcian</h5>
											</li>
											<li class="age pliensbachian">
												<h5>pliensbachian</h5>
											</li>
											<li class="age sinemurian">
												<h5>sinemurian</h5>
											</li>
											<li class="age hettangian">
												<h5>hettangian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period triassic">
								<h3>triassic</h3>
								<ul>
									<li class="epoch triassic-upper">
										<h4>triassic-upper</h4>
										<ul>
											<li class="age rhaetian">
												<h5>rhaetian</h5>
											</li>
											<li class="age norian">
												<h5>norian</h5>
											</li>
											<li class="age carnian">
												<h5>carnian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch triassic-middle">
										<h4>triassic-middle</h4>
										<ul>
											<li class="age ladinian">
												<h5>ladinian</h5>
											</li>
											<li class="age anisian">
												<h5>anisian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch triassic-lower">
										<h4>triassic-lower</h4>
										<ul>
											<li class="age olenekian">
												<h5>olenekian</h5>
											</li>
											<li class="age induan">
												<h5>induan</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="era paleozoic">
						<h2>Paleozoic</h2>
						<ul>
							<li class="period permian">
								<h3>permian</h3>
								<ul>
									<li class="epoch lopingian">
										<h4>lopingian</h4>
										<ul>
											<li class="age changhsingian">
												<h5>changhsingian</h5>
											</li>
											<li class="age wuchiapingian">
												<h5>wuchiapingian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch guadalupian">
										<h4>guadalupian</h4>
										<ul>
											<li class="age capitanian">
												<h5>capitanian</h5>
											</li>
											<li class="age wordian">
												<h5>wordian</h5>
											</li>
											<li class="age roadian">
												<h5>roadian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch cisuralian">
										<h4>cisuralian</h4>
										<ul>
											<li class="age kungurian">
												<h5>kungurian</h5>
											</li>
											<li class="age artinskian">
												<h5>artinskian</h5>
											</li>
											<li class="age sakmarian">
												<h5>sakmarian</h5>
											</li>
											<li class="age asselian">
												<h5>asselian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period carboniferous">
								<h3>carboniferous</h3>
								<ul>
									<li class="subperiod pennsylvanian">
										<h4>pennsylvanian</h4>
										<ul>
											<li class="epoch pennsylvanian-upper">
												<h4>pennsylvanian-upper</h4>
												<ul>
													<li class="age gzhelian">
														<h5>gzhelian</h5>
													</li>
													<li class="age kasimovian">
														<h5>kasimovian</h5>
													</li>
												</ul>
											</li>
											<li class="epoch pennsylvanian-middle">
												<h4>pennsylvanian-middle</h4>
												<ul>
													<li class="age moscovian">
														<h5>moscovian</h5>
													</li>
												</ul>
											</li>
											<li class="epoch pennsylvanian-lower">
												<h4>pennsylvanian-lower</h4>
												<ul>
													<li class="age bashkirian">
														<h5>bashkirian</h5>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="subperiod mississippian">
										<h4>mississippian</h4>
										<ul>
											<li class="epoch mississippian-upper">
												<h4>mississippian-upper</h4>
												<ul>
													<li class="age serpukhovian">
														<h5>serpukhovian</h5>
													</li>
												</ul>
											</li>
											<li class="epoch mississippian-middle">
												<h4>mississippian-middle</h4>
												<ul>
													<li class="age visean">
														<h5>visean</h5>
													</li>
												</ul>
											</li>
											<li class="epoch mississippian-lower">
												<h4>mississippian-lower</h4>
												<ul>
													<li class="age tournaisian">
														<h5>tournaisian</h5>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period devonian">
								<h3>devonian</h3>
								<ul>
									<li class="epoch devonian-upper">
										<h4>devonian-upper</h4>
										<ul>
											<li class="age famennian">
												<h5>famennian</h5>
											</li>
											<li class="age frasnian">
												<h5>frasnian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch devonian-middle">
										<h4>devonian-middle</h4>
										<ul>
											<li class="age givetian">
												<h5>givetian</h5>
											</li>
											<li class="age eifelian">
												<h5>eifelian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch devonian-lower">
										<h4>devonian-lower</h4>
										<ul>
											<li class="age emsian">
												<h5>emsian</h5>
											</li>
											<li class="age pragian">
												<h5>pragian</h5>
											</li>
											<li class="age lochkovian">
												<h5>lochkovian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period silurian">
								<h3>silurian</h3>
								<ul>
									<li class="epoch pridoli">
										<h4>pridoli</h4>
									</li>
									<li class="epoch ludlow">
										<h4>ludlow</h4>
										<ul>
											<li class="age ludfordian">
												<h5>ludfordian</h5>
											</li>
											<li class="age gorstian">
												<h5>gorstian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch wenlock">
										<h4>wenlock</h4>
										<ul>
											<li class="age homerian">
												<h5>homerian</h5>
											</li>
											<li class="age sheinwoodian">
												<h5>sheinwoodian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch llandovery">
										<h4>llandovery</h4>
										<ul>
											<li class="age telychian">
												<h5>telychian</h5>
											</li>
											<li class="age aeronian">
												<h5>aeronian</h5>
											</li>
											<li class="age rhuddanian">
												<h5>rhuddanian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period ordovician">
								<h3>ordovician</h3>
								<ul>
									<li class="epoch ordovician-upper">
										<h4>ordovician-upper</h4>
										<ul>
											<li class="age hirnantian">
												<h5>hirnantian</h5>
											</li>
											<li class="age katian">
												<h5>katian</h5>
											</li>
											<li class="age sandbian">
												<h5>sandbian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch ordovician-middle">
										<h4>ordovician-middle</h4>
										<ul>
											<li class="age darriwilian">
												<h5>darriwilian</h5>
											</li>
											<li class="age dapingian">
												<h5>dapingian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch ordovician-lower">
										<h4>ordovician-lower</h4>
										<ul>
											<li class="age floian">
												<h5>floian</h5>
											</li>
											<li class="age tremadocian">
												<h5>tremadocian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="period cambrian">
								<h3>cambrian</h3>
								<ul>
									<li class="epoch furongian">
										<h4>furongian</h4>
										<ul>
											<li class="age stage-10">
												<h5>stage-10</h5>
											</li>
											<li class="age jiangshanian">
												<h5>jiangshanian</h5>
											</li>
											<li class="age paibian">
												<h5>paibian</h5>
											</li>
										</ul>
									</li>
									<li class="epoch miaolingian">
										<h4>miaolingian</h4>
										<ul>
											<li class="age guzhangian">
												<h5>guzhangian</h5>
											</li>
											<li class="age drumian">
												<h5>drumian</h5>
											</li>
											<li class="age wuliuan">
												<h5>wuliuan</h5>
											</li>
										</ul>
									</li>
									<li class="epoch series-2">
										<h4>series-2</h4>
										<ul>
											<li class="age stage-4">
												<h5>stage-4</h5>
											</li>
											<li class="age stage-3">
												<h5>meghalayan</h5>
											</li>
										</ul>
									</li>
									<li class="epoch terreneuvian">
										<h4>terreneuvian</h4>
										<ul>
											<li class="age stage-2">
												<h5>stage-2</h5>
											</li>
											<li class="age fortunian">
												<h5>fortunian</h5>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="eon proterozoic">
				<h1>Proterozoic</h1>
				<ul>
					<li class="era neoproterozoic">
						<h2>neoproterozoic</h2>
						<ul>
							<li class="period ediacaran">
								<h3>ediacaran</h3>
							</li>
							<li class="period cryogenian">
								<h3>cryogenian</h3>
							</li>
							<li class="period tonian">
								<h3>tonian</h3>
							</li>
						</ul>
					</li>
					<li class="era mesoproterozoic">
						<h2>mesoproterozoic</h2>
						<ul>
							<li class="period stenian">
								<h3>stenian</h3>
							</li>
							<li class="period ectasian">
								<h3>ectasian</h3>
							</li>
							<li class="period calymmian">
								<h3>calymmian</h3>
							</li>
						</ul>
					</li>
					<li class="era paleoproterozoic">
						<h2>paleoproterozoic</h2>
						<ul>
							<li class="period statherian">
								<h3>Statherian</h3>
							</li>
							<li class="period orosirian">
								<h3>orosirian</h3>
							</li>
							<li class="period rhyacian">
								<h3>Rhyacian</h3>
							</li>
							<li class="period siderian">
								<h3>siderian</h3>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="eon archean">
				<h1>Archean</h1>
				<ul>
					<li class="era neoarchean">
						<h2>Neoarchean</h2>
					</li>
					<li class="era mesoarchean">
						<h2>Mesoarchean</h2>
					</li>
					<li class="era paleoarchean">
						<h2>Paleoarchean</h2>
					</li>
					<li class="era eoarchean">
						<h2>Eoarchean</h2>
					</li>
				</ul>
			</li>
			<li class="eon hadean">
				<h1>Hadean</h1>
			</li>
		</ul>
	</div>
</body>
</html>